@font-face {

  font-family:'Malgun Gothic';
  src: url('images/NanumGothic.eot');
  src: url('images/NanumGothic.eot?#iefix') format('embedded-opentype'),
       url('images/NanumGothic.woff') format('woff'),
       url('images/NanumGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
  height: 100%;
  width: 100vw;
}

body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  visibility: inherit;
}

#UICard1{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 125px;
  top: 122px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

#UICard2{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 442px;
  top: 122px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

#UICard3{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 759px;
  top: 122px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

#UICard4{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 1076px;
  top: 125px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}


#UICard5{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 125px;
  top: 565px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

#UICard6{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 442px;
  top: 565px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

#UICard7{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 759px;
  top: 565px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

#UICard8{
  position: absolute;
  width: 240px;
  height: 400px;
  left: 1076px;
  top: 568px;

  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(204, 204, 204, 0.5);
  border-radius: 10px;
}

/* .smartbanner {
left: 0;
display: none;
width: 100%;
height: 80px;
line-height: 80px;
font-family: Helvetica Neue, sans-serif;
background: #f4f4f4;
z-index: 9998;
-webkit-font-smoothing: antialiased;
overflow: hidden;
-webkit-text-size-adjust: none;
} */