{% extends 'basesimple.html' %}

{% block mycss %}
    a {
        text-decoration : none;
    }
    a.btn {
        border : 1px solid green;
        padding : 2px;
    }
    a.btn:hover {
        background-color : lime;
    }
{% endblock %}

{% block mycontent %}
{% if msg %}
    <h2>{{ msg }}</h2>
    <hr>
    <a class="btn" href="{% url 'C' %}">작성 화면</a>
    <a class="btn" href="{% url 'R1' %}">리스트 화면</a><br>
{% else %}
    <h2> 미팅정보 수정 </h2>
    <hr>
    <form method="post" action="{% url 'U' meeting.id %}">
    <p> 이름 : <input type="text" name="name" value="{{meeting.name}}"></p>
    <p> 인원 : <input type="number" name="personnel" value="{{meeting.personnel}}"></p>
    <p> 미팅목적 : <textarea name="title" rows="5" cols="30">{{meeting.title}}</textarea></p>
      <p> 미팅일시 : <input type="datetime-local" name="meetingdate" value="{{meeting.meetingdate|date:'Y-m-d'}}T{{meeting.meetingdate|time:'H:i'}}"></p>
    <input type="submit" value="수정보내기">
    <button onclick='update_cancel(); return false;'>수정취소</button>
    {% csrf_token %}
    </form>
    <script>
        function update_cancel() {
            location.href="{% url 'R1' %}"
        }
    </script>
{% endif %}
{% endblock %}