<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>다중 파일 업로드</h1>
{% if uploadlist %}
    {% for data in uploadlist %}
        <img src="{{ data.photo.url }}" width="200" alt="">
    {% endfor %}
{% else %}
<h2>업로드하려는 사진파일을 선택하세요.<span style="color:red">(다중선택 가능)</span></h2>
<hr>
<h3>shift 키 누르면서 파일을 여러개 선택해 보세요</h3>
<form method="post"  action="{% url 'uploadmulti' %}" enctype="multipart/form-data">
	{% csrf_token %}
    업로드할 사진파일 선택 : <input type="file" name="multiphoto" multiple><br>
    <input type="submit" value="전송">
</form>
{% endif %}
</body>
</html>